@import "../../global.scss";

.topbar {
  position: fixed;
  top: 0;
  width: 100%;
  height: 70px;
  background-color: white;
  color: $main-color;
  z-index: 2;
  transition: all 1s ease;

  .wrapper {
    padding: 10px 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .left {
    display: flex;
    align-items: center;

  }

  .logo {
    font-size: 30px;
    font-weight: 900;
    text-decoration: none;
    color: inherit;
    margin-right: 40px;
  }

  .item-container {
    display: flex;
    align-items: center;
    margin-right: 30px;
  }

  .icon {
    font-size: 18px;
    margin-right: 5px;
  }

  span {
    font-size: 15px;
    font-weight: 500;
  }

  .right {

    .hamburger {
      width: 32px;
      height: 25px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      cursor: pointer;
      overflow: hidden;

      span {
        width: 100%;
        height: 3px;
        background-color: $main-color;
        transform-origin: left;
        transition: all 2s ease;
      }

    }

  }

  &.active {
    background-color: $main-color;
    color: white;

    .hamburger {
      span {
        &:first-child {
          background-color: #fff;
          transform: rotate(45deg);
        }

        &:nth-child(2) {
          opacity: 0;
        }

        &:last-child {
          background-color: #fff;
          transform: rotate(-45deg);
        }
      }
    }
  }
}
